<a href="https://colab.research.google.com/github/Sommish/Data-Science/blob/main/DS_session_6_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

In [ ]:
def unique(L):
  L1=[]
  for i in L:
    if i not in L1:
      L1.append(i)
  return L1

L=[1,2,3,3,3,3,4,5]
unique(L)

[1, 2, 3, 4, 5]

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [ ]:
# Write code here
def sequence(words):
  words1=words.split('-')
  words2=sorted(words1)
  sorted_seq='-'.join(words2)
  return sorted_seq

words = "green-red-yellow-black-white"

# Get the sorted sequence
sequence(words)

'black-green-red-white-yellow'

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [ ]:
# Write code here
def upper_(a):
    upper=0
    lower=0
    for i in a:
        if i.isupper():
            upper+=1
        else:
            lower+=1
    return upper,lower

a='CampusX is an Online Mentorship Program fOr EnginEering studentS.'

upper,lower = upper_(a)
print("upper case count",upper)
print("lower case count",lower)

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [ ]:
# Write code here
a=list(filter(lambda x:x%2==0 ,[1, 2, 3, 4, 5, 6, 7, 8, 9]))
print(a)

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

```
The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6.
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6.

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
```

In [ ]:
# Write code here

def is_perfect_number(n):
    # Initialize sum of divisors
    sum_of_divisors = 0

    # Find all divisors of n and add them
    for i in range(1, n):
        if n % i == 0:
            sum_of_divisors += i

    # Check if sum of divisors is equal to n
    return sum_of_divisors == n

# Example usage
number = 28
if is_perfect_number(number):
    print(f"{number} is a perfect number.")
else:
    print(f"{number} is not a perfect number.")

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [ ]:
# Write code here
def concat(dic1,dic2,dic3):
    def concat2(dic1):
        dic1.update(dic3)
    dic1.update(dic2)
    concat2(dic1)
    return dic1

result=concat({1:10, 2:20},{3:30, 4:40},{5:50,6:60})
print(result)

In [1]:
def concatenate_dictionaries(*dicts):
    concatenated_dict = {}
    for d in dicts:
        concatenated_dict.update(d)
    return concatenated_dict

# Sample dictionaries
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

# Concatenate dictionaries
result = concatenate_dictionaries(dic1, dic2, dic3)
print(result)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

`Problem-7` Write a python function that accepts a string as input and returns the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

In [3]:
# Write code here
def count_case(s):
    d={}
    for i in s.split():
        if i in d:
            d[i]=d[i]+1
        else:
            d[i]=1
    return d

x=count_case("hello how are you i am fine thank you")
print(x)

{'hello': 1, 'how': 1, 'are': 1, 'you': 2, 'i': 1, 'am': 1, 'fine': 1, 'thank': 1}

`Problem-8` Write a python function that receives a list of integers and prints out a histogram of bin size 10

```
Input:
[13,42,15,37,22,39,41,50]
```

```
Output:
{11-20:2,21-30:1,31-40:2,41-50:3}
```

In [ ]:
# Write code here

`Problem-9` Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

In [ ]:
# Write code here

`Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings

https://en.wikipedia.org/wiki/Bag-of-words_model

In [ ]:
# Write code here

###`Problem 11:` Write a Python program to add three given lists using Python map and lambda.

In [6]:
# Write code here
l1=[2,3,4]
l2=[5,6,7]
l3=[8,9,10]
list(map(lambda x,y,z:x+y+z ,l1,l2,l3))

[15, 18, 21]

###`Problem-12:`Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,-]
```

In [9]:
# Write code here
list1 = [1,2,3,4,5,6]
list(map(lambda x,y : x**y ,list1 , range(len(list1))))

[1, 2, 9, 64, 625, 7776]

###`Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [18]:
# Write code here
str1= "FIFA world cup in 2022 will take place in QATAR"
list(filter(lambda x:x.lower() in ('aeiou'),str1))

['I', 'A', 'o', 'u', 'i', 'i', 'a', 'e', 'a', 'e', 'i', 'A', 'A']

`Problem-14`: Use reduce to convert a 2D list to 1D

In [20]:
# Write code here
from functools import reduce
list_2d = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
list1= reduce(lambda x,y:x+y ,list_2d)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

`Problem 15`- A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [22]:
# Write code here
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]

In [23]:
list(map(lambda x:x['fname'] + ' ' + x['lname'],list(filter(lambda x:True if x['grade'] == 'highly-skilled' else False,employees))))

['Neha Singh', 'Abhinav Sharma']

In [29]:
list(map(lambda employees:employees['fname'],list(filter(lambda employees: True if employees['grade'] == 'highly-skilled' else False ,employees))))

['Neha', 'Abhinav']

In [32]:
list(map(lambda employees : employees['fname'],employees))

['Nitish', 'Ankit', 'Neha', 'Anurag', 'Abhinav']

In [43]:
list(map(lambda x:x['fname'],list(filter(lambda employees:employees['fname'] if employees['grade']=='highly-skilled' else False ,employees))))

['Neha', 'Abhinav']