<a href="https://colab.research.google.com/github/Sommish/Data-Science/blob/main/Shivam_Task_1_assignment_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [2]:
# Write your code here
print("Data" ,"Science" ,"Mentorship" ,"Program" ,sep='-', end='')
print("By" ,"CampusX",sep='-')

Data-Science-Mentorship-ProgramBy-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [ ]:
# Write your code here
celci = float(input("Enter temp in celcius "))
fah = (9/5)*celci + 32
print(fah,'fah',type(fah))

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [5]:
# Write your code here
a=2
b=4
temp=a
a=b
b=temp
print('a = ',a,'\n','b = ',b)

a =  4
 b =  2

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [6]:
# Write your code here
x1=int(input("Enter first number of first co-ordinate "))
y1=int(input("Enter second number of first co-ordinate "))
x2=int(input("Enter first number of second co-ordinate "))
y2=int(input("Enter second number of second co-ordinate "))
formula =  ((x2-x1)**2 + (y2-y1)**2 )**0.5
print('Euclidian number for ', 'x1 =',x1,', x2 =',x2,', y1 =',y1,', y2 =',y2, '\n', '\b result =' ,round(formula,2))

Enter first number of first co-ordinate 12
Enter second number of first co-ordinate 13
Enter first number of second co-ordinate 20
Enter second number of second co-ordinate 22
Euclidian number for  x1 = 12 , x2 = 20 , y1 = 13 , y2 = 22
  result = 12.04

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [7]:
# Write your code here
principle = float(input('Enter a principle amount '))
rate = float(input('Enter a rate '))
time = float(input('Enter a time in years '))
simple = principle * rate * time /100
print('simple interest = ',simple)

Enter a principle amount 10000
Enter a rate 20
Enter a time in years 3
simple interest =  6000.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [13]:
# Write your code here
heads=int(input("Enter total num of heads "))
legs=int(input("enter total num of legs "))
if heads<=legs:
  c = 2*heads - (legs/2)
  print("Number of dogs : ",int(c))
  d = heads - c
  print("Number of chickens : ",int(d))

Enter total num of heads 75
enter total num of legs 181
Number of dogs :  59
Number of chickens :  15

1### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [15]:
# Write your code here
num=int(input("Enter a number "))
for i in range(1,num+1):
  d=i*i
  print(d,end=' ')

Enter a number 10
1 4 9 16 25 36 49 64 81 100

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [17]:
# Write your code here use formula TN = a1 + (N-1) * d
a1= int(input("Enter the first term of the series : "))
a2= int(input("Enter the second term of the series : "))
N = int(input("Enter the Nth term of the series: "))

Tn = a1 + (N-1) * abs(a1-a2)
print(Tn)

Enter the first term of the series : 2
Enter the second term of the series : 3
Enter the Nth term of the series: 5
6

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [23]:
# Write your code here
n1=int(input("enter the numerator value for 1st fraction:  "))
d1=int(input("Enter the denominator value for 1st fraction: "))
n2=int(input("Enter the numerator value for 2nd fraction: "))
d2=int(input("Enter the denominator value for 2nd fraction: "))
print(round((n1/d1)+(n2/d2),2))

enter the numerator value for 1st fraction:  2
Enter the denominator value for 1st fraction: 5
Enter the numerator value for 2nd fraction: 6
Enter the denominator value for 2nd fraction: 7
1.26

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [27]:
# Write your code here
# Tank dimensions are follows :- NOTE :- All dimensions are in 'cm'
H=20
L=20
B=20
Tank_Vol = H*B*L
print(Tank_Vol)
# Glass dimensions as follows :- All dimensions are in 'cm'
pi=3.14
h=3
r=1
Glass_Vol = pi*r**2*h
print(Glass_Vol)

# no of glasses obtained :-
print("no of glasses can be obtained from tank milk : ", round(Tank_Vol/Glass_Vol))

8000
9.42
no of glasses can be obtained from tank milk :  849